.top {
  position: relative;
  top: 75px;
  z-index: 10;
}

.welcome {
  padding-top: 20px;
  margin-top: 20px;
}

.devHeader {
  font-style: italic;
  margin-bottom: 0;
  position: relative;
}

.ui.header.cText {
  margin: 6px;
}
