.top {
  position: relative;
  top: 50px;
  z-index: 10;
}

.welcome {
  padding-top: 20px;
  margin-top: 20px;
}

.devHeader {
  font-style: italic;
  margin-bottom: 0;
  position: relative;
}

.cText {
  margin-top: 10px;
}
