/* navigation styles start here */

.devnav-header {
  background: black;
  height: 55px;
  position: fixed;
  z-index: 999;
  width: 100%;
  display: flex;
  align-items: center;
}

.portfolio-name {
  color: white;
  margin-bottom: 0;
  font-style: italic;
}

/* .homenav-logo {
  position: relative;
  height: 100%;
  color: white;
  text-align: center;
  display: flex;
  justify-content: start;
  align-items: center;
  margin-left: 2em;
} */

.devnav-toggle {
  display: none;
}

.devnav-toggle-label {
  position: absolute;
  top: 0;
  left: 0;
  margin-left: 1em;
  height: 100%;
  display: flex;
  align-items: center;
}

/* draw the hamburger */
.devnav-toggle-label span,
.devnav-toggle-label span::before,
.devnav-toggle-label span::after {
  display: block;
  background: white;
  height: 2px;
  width: 2em;
  border-radius: 2px;
  position: relative;
}

.devnav-toggle-label span::before,
.devnav-toggle-label span::after {
  content: '';
  position: absolute;
}

.devnav-toggle-label span::before {
  bottom: 7px;
}

.devnav-toggle-label span::after {
  top: 7px;
}

/* end of hamburger */

.devnav-nav {
  position: absolute;
  top: 100%;
  left: 0;
  background: rgba(0, 0, 0, 0.8);
  width: 100%;
  transform: scale(1, 0);
  transform-origin: top;
  transition: transform 300ms ease-in-out;
  z-index: -1;
}

.devnav-nav ul {
  margin: 0;
  padding: 0.3em 0;
  list-style: none;
}

.devnav-nav li {
  margin-bottom: 8px;
  margin-left: 1em;
  padding-bottom: 0.2em;
}

.devnav-nav a {
  color: white;
  margin-bottom: 1.5em;
  text-decoration: none;
  font-size: 1.2em;
  text-transform: uppercase;
  opacity: 0;
  transition: opacity 150ms ease-in-out;
}

.devnav-nav a:hover {
  color: blue;
}

.devnav-nav img {
  filter: invert(100%);
  -webkit-filter: invert(100%);
}

.devnav-nav img:hover {
  filter: hue-rotate(270deg);
  -webkit-filter: hue-rotate(270deg);
}

.devnav-toggle:checked ~ nav {
  transform: scale(1, 1);
}

.devnav-toggle:checked ~ nav a {
  opacity: 1;
  transition: opacity 200ms ease-in-out 150ms;
}

@media screen and (min-width: 800px) {
  .devnav-toggle-label {
    display: none;
  }

  .devnav-header {
    display: grid;
    grid-template-columns: 200px auto;
  }

  .portfolio-name {
    grid-column: 1 / 2;
    font-size: 1.8em;
    padding-left: 0.5em;
  }

  .devnav-nav {
    all: unset;
    grid-column: 2 / 3;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-right: 1em;
  }

  /* .user-name {
    grid-column: 2/3;
    display: flex;
    align-items: center;
  } */

  /* .homenav-logo {
    grid-column: 2 / 3;
    margin-left: 1em;
  } */

  .devnav-nav a {
    opacity: 1;
  }

  .devnav-nav a:hover {
    color: blue;
  }

  .devnav-nav ul {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    list-style: none;
  }
}

.devnav-nav li {
  margin: 0;
  padding-left: 1em;
}
