/* .aboutContainer {
  background-color: black;
  color: white;
} */
.aboutWrapper {
  height: 100%;
  width: 80%;
  color: black;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande',
    'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.title {
  color: black;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande',
    'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  margin-top: 1rem;
}

.aboutContainer {
  position: relative;
  top: 85px;
  left: 12%;
  padding-bottom: 35px;
  z-index: 10;
}

.top {
  padding-top: 5px;
  margin-top: 10px;
}

a:hover {
  color: green;
}
