.portCards {
  position: relative;
  top: 150px;
  left: 10%;
  width: 80%;
}

.columns {
  margin-bottom: 25px;
}
/* 
.glass.div.ui.equal.width.grid.stackable {
  position: relative;
  left: 10%;
} */
