.portCards {
  position: relative;
  top: 150px;
  left: 5%;
  width: 90%;
}

.columns {
  margin-bottom: 25px;
}

.rows {
  margin-bottom: 20px;
}

@media screen and (max-width: 767px) {
  .portCards {
    left: 1%;
    width: 98%;
  }
}
