.intro {
  width: 75%;
  position: relative;
  top: 110px;
  left: 10%;
  width: 80%;
  padding: 1rem;
  z-index: 10;
  border-radius: 1rem;
  background: linear-gradient(
    to left top,
    rgba(255, 255, 255, 0.3),
    rgba(255, 255, 255, 0.6)
  );
  backdrop-filter: blur(2rem);
}

.greeting {
  color: blue;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande',
    'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-style: italic;
  margin-bottom: 0;
}

.userName {
  color: rgb(12, 170, 38);
  top: 25px;
  font-family: Geneva, 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande',
    'Lucida Sans Unicode', Verdana, sans-serif;
  margin-top: 14px;
}

.tagLine {
  padding: 1%;
  text-align: center;
  font-family: 'Lucida Grande', 'Lucida Sans', 'Lucida Sans Regular',
    'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  margin-top: 14px;
}
