/* .aboutContainer {
  background-color: black;
  color: white;
} */

.aboutUser {
  margin-top: 60px;
  position: absolute;
  left: 2%;
  right: 2%;
  z-index: 10;
}

.aboutSection1 {
  color: rgb(168, 52, 67);
  width: 80%;
  /* margin-right: -1px; */
  padding-right: 0;
  padding-top: 3px;
  padding-bottom: 3px;
  margin-left: 20px;
  margin-right: -20px;
}

.aboutSection2 {
  color: rgb(9, 110, 26);
  margin-left: -25px;
  padding-right: 0;
  padding-top: 3px;
  padding-bottom: 3px;
}

.row2 {
  position: relative;
  left: 8%;
}
img.ui.image {
  display: none;
}

.aboutCard {
  background: linear-gradient(
    to left top,
    rgba(255, 255, 255, 0.3),
    rgba(255, 255, 255, 0.6)
  );
  margin: 0.5rem 0 0.5rem;
  padding-top: 5px;
  padding-bottom: 5px;
  max-width: 92%;
  border-radius: 1rem;
  box-shadow: 6px 6px 20px rgba(75, 75, 75, 0.377);
}

.sectionP {
  margin-bottom: 3px;
  font-size: 1.2rem;
}

.aboutSection2,
.sectionP {
  padding-left: 10px;
}

.cardLi {
  font-size: 1.2rem;
  padding-left: 12px;
}

.title {
  margin: 0;
}
