/* .aboutContainer {
  background-color: black;
  color: white;
} */

.grid {
  margin-top: 100px;
  position: relative;
  top: 45px;
  left: 5%;
  max-width: 75%;
  z-index: 10;
}

.aboutSection1 {
  color: rgb(168, 52, 67);
  margin-right: -1px;
  padding-right: 0;
  padding-top: 5px;
  padding-bottom: 5px;
}

.aboutSection2 {
  color: rgb(9, 110, 26);
  margin-left: 0px;
  padding-right: 0;
  padding-top: 5px;
  padding-bottom: 5px;
}

.row2 {
  position: relative;
  left: 8%;
}

.aboutImage {
  border-radius: 5%;
  height: 140px;
}

.aboutCard {
  background: linear-gradient(
    to left top,
    rgba(255, 255, 255, 0.3),
    rgba(255, 255, 255, 0.6)
  );
  margin: 0.5rem 0 0.5rem;
  padding-top: 5px;
  padding-bottom: 5px;
  border-radius: 1rem;
  box-shadow: 6px 6px 20px rgba(75, 75, 75, 0.377);
}

.sectionP {
  margin-bottom: 3px;
}

.cardLi {
  font-size: 1rem;
  padding-left: 12px;
}
